<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <base href="{{ .Site.BaseURL }}">

    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="stylesheet" href="/css/alerts.css">

    {{ if .RSSLink }}
      <link href={{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }} rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href={{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }} rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ .Hugo.Generator }}
  </head>

  <body>
    <main class="wrapper">
      {{ partial "header.html" . }}

      <div class="content">
        {{ block "content" . }}{{ end }}
      </div>

    </main>

  </body>

</html>
